<h1>Mali prenosni agregati</h1>

<table class="table generators_list">
  <tr>
    <th>Model</th>
    <th>Snaga (max)</th>
    <th>Snaga (cont)</th>
    <th>Motor</th>
    <th>Rezervoar</th>
    <th>Generator</th>
    <th>Panel</th>
    <th></th>
  </tr>

<% @small_generators.each do |small_generator| %>
  <tr>
    <td><%= link_to small_generator.model, small_generator %></td>
    <td><%= small_generator.kva_max %> kVA</td>
    <td><%= small_generator.kva_cont %> kVA</td>
    <td><%= small_generator.motor_proizvodjac %></td>
    <td><%= small_generator.motor_rezervoar %> l</td>
    <td><%= small_generator.generator_proizvodjac %></td>
    <td><%= small_generator.panel %></td>
    <td>
      <%= link_to 'Edit', edit_small_generator_path(small_generator), class: "btn btn-warning btn-mini" %>
      <%= link_to 'Delete', small_generator, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-mini" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Small generator', new_small_generator_path %>
