<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @small_generator.model %>
</p>

<p>
  <b>Kva max:</b>
  <%= @small_generator.kva_max %>
</p>

<p>
  <b>Kva cont:</b>
  <%= @small_generator.kva_cont %>
</p>

<p>
  <b>Kw max:</b>
  <%= @small_generator.kw_max %>
</p>

<p>
  <b>Kw cont:</b>
  <%= @small_generator.kw_cont %>
</p>

<p>
  <b>Start:</b>
  <%= @small_generator.start %>
</p>

<p>
  <b>Dimenzije:</b>
  <%= @small_generator.dimenzije %>
</p>

<p>
  <b>Masa:</b>
  <%= @small_generator.masa %>
</p>

<p>
  <b>Motor proizvodjac:</b>
  <%= @small_generator.motor_proizvodjac %>
</p>

<p>
  <b>Motor tip:</b>
  <%= @small_generator.motor_tip %>
</p>

<p>
  <b>Motor hp:</b>
  <%= @small_generator.motor_hp %>
</p>

<p>
  <b>Motor rpm:</b>
  <%= @small_generator.motor_rpm %>
</p>

<p>
  <b>Motor cilindri:</b>
  <%= @small_generator.motor_cilindri %>
</p>

<p>
  <b>Motor cm3:</b>
  <%= @small_generator.motor_cm3 %>
</p>

<p>
  <b>Motor gorivo:</b>
  <%= @small_generator.motor_gorivo %>
</p>

<p>
  <b>Motor hladjenje:</b>
  <%= @small_generator.motor_hladjenje %>
</p>

<p>
  <b>Motor potrosnja 75:</b>
  <%= @small_generator.motor_potrosnja_75 %>
</p>

<p>
  <b>Motor rezervoar:</b>
  <%= @small_generator.motor_rezervoar %>
</p>

<p>
  <b>Autonomija:</b>
  <%= @small_generator.autonomija %>
</p>

<p>
  <b>Nivo buke:</b>
  <%= @small_generator.nivo_buke %>
</p>

<p>
  <b>Generator proizvodjac:</b>
  <%= @small_generator.generator_proizvodjac %>
</p>

<p>
  <b>Generator tip:</b>
  <%= @small_generator.generator_tip %>
</p>

<p>
  <b>Napon:</b>
  <%= @small_generator.napon %>
</p>

<p>
  <b>Frekvencija:</b>
  <%= @small_generator.frekvencija %>
</p>

<p>
  <b>Panel:</b>
  <%= @small_generator.panel %>
</p>


<%= link_to 'Edit', edit_small_generator_path(@small_generator) %> |
<%= link_to 'Back', small_generators_path %>
