<!DOCTYPE html>
<html>
<head>
  <title>Datasheets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Datasheets</a>
      <ul class="nav">
        <li><%= link_to "PoÄetna", root_path %></li>
        <li><%= link_to "Mali agregati", small_generators_path %></li>
        <li><a href="#">Industrijski agregati</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
